body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: solid 1px red;
}

/* header */

.header {
    background: rgb(1, 45, 99);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: 152px;
    width: 90px;
    height: 40px;
    margin-top: 14px;
    margin-bottom: 17px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 29px;
}

.nav__item {}

.nav__link {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: rgb(199, 199, 199)
}

.nav__link:hover {
    color: rgb(255, 255, 255);
}

.lang {
    display: flex;
    align-items: center;
    margin-left: 73px;
}

.lang__item {
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    color: rgb(199, 199, 199);
}

#eng {
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
}

/* hero */

.hero {
    display: flex;
    height: 858px;
    background: url(../images/hero/nike.hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__img {
    margin-top: 94px;
}

.hero__logo {
    color: rgb(255, 255, 255);
    font-family: 'PT Serif';
    font-size: 40px;
    font-weight: 400;
    line-height: 64px;
    text-align: left;
    margin-top: 1px;
}

.hero__title {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display';
    font-size: 144px;
    font-weight: 400;
    line-height: 192px;
    margin-top: 1px;
}

.hero__subtitle {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display';
    font-size: 72px;
    font-weight: 400;
    line-height: 96px;
    margin-top: 1px;
    margin-bottom: 12px;
}

.hero__text {
    color: rgb(255, 255, 255);
    width: 508px;
    height: 84px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 60px;
}

.hero__button {
    width: 254px;
    height: 67px;
    border-radius: 10px;
    background: rgb(142, 50, 198);
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(255, 255, 255);
    margin-top: 41px;
}

/* works */

.works {
    background-image: url(../images/works/gridient.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 105px 0;
}

.works__list {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(142, 50, 198);
    padding: 25px 0;
}

.works__item:not(:last-child) {
    border-right: 1px solid white;
}

.works__item:nth-child(odd) {
    padding: 0 50px;
}

.works__item:nth-child(2) {
    padding: 0 95px;
    display: flex;
    flex-direction: column-reverse;
}

.works__title {
    color: #FFF;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 36px;
    font-weight: 400;
}

.works__img {}

/* reviews */

.reviews {
    display: flex;
    background-image: url(../images/png/reviews/flowers.png), url(../images/works/gridient.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, center;
    background-size: auto, cover;
    height: 520px;
}

.reviews__title {
    color: #FFF;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 24px;
}

.reviews__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 93px;
    margin-top: 24px;
}

.reviews__item {
    padding: 49px 13px 29px;
}

.review {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    width: 228px;
}

.date {
    color: #D8D8D8;
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.reviews__users {
    display: flex;
    margin-top: 47px;
}

.avatar {
    margin-right: 5px;
}

.name {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}

.withus {
    color: #D8D8D8;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
}

#john {
    width: 255px;
    height: 292px;
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
}

#eliz {
    width: 255px;
    height: 292px;
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
}

#tom {
    width: 255px;
    height: 292px;
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
}

/* label */

.order {
    display: flex;
    background-image: url(../images/order/order.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

.order__title {
    color: #FFF;
    font-family: "Playfair Display";
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    border-top: 21px;
    margin-bottom: 31px;
}

.email {
    width: 690px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
}

.label {
    width: 580px;
    height: 50px;
    border-radius: 50px;
    background: #FFF;
}

/* footer */

.footer {
    height: 292px;
    background-color: #021635;
    background-size: cover;
    background-position: center;
}

.footer__div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9B9B9B;
    padding: 20px 165px;
}

.quest__list {
    gap: 10px;
}

.quest__item {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.links__list {
    gap: 10px;
}

.links__item {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    text-decoration-line: underline;
    text-align: right;
}

.information__list {
    gap: 7px;
    margin-top: 24px;
}

.information__item {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.logo__colored--list {
    display: flex;
}

.footer__img {}

.logo__footer--item {
    color: #FFF;
    font-family: "PT Serif";
    font-size: 24px;
    font-weight: 400;
    text-align: right;
}